@import '/assets/scss/variable.scss';

a, button, input[type="submit"] {
  transition: all .2s ease;
}
.cursor-pointer {
  cursor: pointer;
}

.background-color-blue-sea, .background-color-blue-sea-hover:hover {
  background-color: $blue-sea!important;
}

.background-color-red, .background-color-red-hover:hover {
  background-color: $red!important;
}

.color-blue-sea, .color-blue-sea-hover:hover {
  color: $blue-sea!important;
}

.color-red, .color-red-hover:hover {
  color: $red!important;
}

.color-dark-grey, .color-dark-grey-hover:hover {
  color: $dark-grey!important;
}

.color-white, .color-white-hover:hover {
  color: $white!important;
}

.color-black, .color-black-hover:hover {
  color: $black!important;
}

.remove-underline, .remove-underline:hover {
  text-decoration: none;
}

.box-shadow-grey {
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  border: 1px solid #ededed;
  background: $white;
}

body {
  background-color: #ededed!important;
}
