@import '/assets/scss/variable.scss';

.background-color-blue-sea, .background-color-blue-sea-hover:hover {
  background-color: $blue-sea;
}

.background-color-red, .background-color-red-hover:hover {
  background-color: $red;
}

.color-blue-sea, .color-blue-sea-hover:hover {
  color: $blue-sea;
}

.color-red, .color-red-hover:hover {
  color: $red;
}

.color-dark-grey, .color-dark-grey-hover:hover {
  color: $dark-grey;
}

.remove-underline, .remove-underline:hover {
  text-decoration: none;
}
